<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 驼峰命名规则 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <!--显式的指定每个我们需要更改的配置的值，即使他是默认的。防止版本更新带来的问题 -->
        <setting name="cacheEnabled" value="true" />
        <!-- 懒加载，要用哪个运行哪个 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>
    <!-- 别名 -->
    <typeAliases>
        <package name="com.running.bean" />
    </typeAliases>
    <!-- 插件 -->
    <plugins>
        <!-- 注册分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <!-- 数据库支持 -->
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql" />
        <property name="Oracle" value="oracle" />
        <property name="SQL Server" value="sqlserver" />
    </databaseIdProvider>
</configuration>